.sectionContainer {
  display: flex;
  min-height: 100vh;
  background-color: #ffffff;
  padding: 2rem;
  margin-bottom: 4rem;
}

.leftColumn {
  width: 40%;
  padding-right: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.rightColumn {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textContent {
  max-width: 80%;
}

.paragraph {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.5;
  color: #414040;
}

.paragraph:nth-child(1) {
  margin-bottom: 1.5rem;
}

.imageContainer {
  display: flex;
  gap: 1rem;
  height: 100vh;
}

.largeImage {
  width: 60%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.smallImage {
  width: 40%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.largeImage:hover .image,
.smallImage:hover .image {
  transform: scale(1.03);
}

/* Mobile styles (without affecting desktop) */
@media (max-width: 1024px) {
  .sectionContainer {
    flex-direction: column-reverse; /* Reverse order for mobile */
    padding: 0rem 1rem 4rem;
    display: flex;
    min-height: auto;
  }

  .leftColumn,
  .rightColumn {
    width: 100%;
    padding-right: 0;
  }

  .leftColumn {
    padding-top: 2rem; /* Add space between reversed sections */
    justify-content: flex-start;
  }

  .rightColumn {
    justify-content: flex-start;
  }

  .textContent {
    max-width: 100%;
  }

  .imageContainer {
    height: 30vh;
    flex-direction: row; /* Maintain horizontal layout for images */
    margin-bottom: 0;
  }

  .largeImage {
    width: 60%; /* Maintain desktop ratio */
    height: 100%;
  }

  .smallImage {
    width: 40%; /* Maintain desktop ratio */
    height: 100%;
  }
}

@media (max-width: 768px) {
  .paragraph {
    font-size: 1rem;
  }

  .imageContainer {
    height: 30vh;
  }
}