.sectionContainer {
  display: flex;
  min-height: 100vh;
  background-color: #ffffff;
  padding: 2rem;
  margin-bottom: 4rem;
}

.leftColumn {
  width: 40%;
  padding-right: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.rightColumn {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textContent {
  max-width: 80%;
}

.paragraph {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.5;
  color: #414040;
}
.paragraph:nth-child(1){
  margin-bottom: 1.5rem;
}
.imageContainer {
  display: flex;
  gap: 1rem;
  height: 100vh;
}

.largeImage {
  width: 60%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.smallImage {
  width: 40%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.largeImage:hover .image,
.smallImage:hover .image {
  transform: scale(1.03);
}

/* Responsive styles */
@media (max-width: 1024px) {
  .sectionContainer {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .leftColumn,
  .rightColumn {
    width: 100%;
    padding-right: 0;
  }

  .textContent {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .imageContainer {
    height: 60vh;
    flex-direction: column;
  }

  .largeImage,
  .smallImage {
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 768px) {
  .paragraph {
    font-size: 1rem;
  }

  .imageContainer {
    height: 50vh;
  }
}